<div class="container">
    <div class="container-fluid">
     <div class="card">
       <div class="card-header">Update Contact
        <button style="float: right" routerLink="/" class="btn btn-outline-dark btn-md">Back to Contact List</button>
       </div>
       <div class="card-body">
          <form [formGroup]="updateForm" (ngSubmit)="onupdateForm(updateForm.value)" method="POST">
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" value="{{filterData[0].fullname}}"  
              class="form-control" name="fullname" id="fullname" 
              formControlName="fullname" required>
            </div>  

            <div class="form-group">
              <label>Mobile Number</label>
              <input type="number" value="{{filterData[0].mobilenumber}}" 
                class="form-control" name="mobilenumber" id="mobilenumber" 
              formControlName="mobilenumber" required>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-outline-dark btn-md" [disabled]="!updateForm.dirty">UPDATE</button>
            </div>
          </form>
       </div>
     </div>
     
    </div>
  </div>
  