
.footer {
    position: sticky;    
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /* margin-top: ; */
    /* background-attachment: scroll; */
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
 }

