/* You can add global styles to this file, and also import other style files */
.card{
    border: 1px solid black
}
.card-header{
    font-weight: bolder;
    text-align: center;
    background-color: #E89F65;
    color: whitesmoke;
    font-size: x-large;   
    font-style: italic 
}